// Bootstrap Overrides

// --- Scaffolding
$body-bg: #eaeaea;
$link-color: #666;

// --- Forms
$legend-border-color: #666;

// --- Iconography
$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

// Application

// --- Common
$animation-duration: .5s;
$border-color-primary: #666;

// --- Contact List Media Object
$contact-list-media-object-color-bg: red;

// --- Search
$search-input-container-color-border: #666;
