@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// Application

// --- Common
$animation-duration: .5s;
$border-color-primary: #a5a2a9;

// --- Contact List Item
$contact-list-item-color-bg: #a9c6f5;
$contact-list-item-color-border-bottom: #cacaca;
$contact-list-item-image-height: 70px;
$contact-list-item-image-width: 70px;

// --- Contact Editor
$contact-editor-contact-field-row-grid-gutter-width: $grid-gutter-width;

// --- Contact Group
$contact-group-name-color-bg: #e5e3e5;
$contact-group-name-padding-left: $contact-list-item-image-width + 10;

// --- Contact List
$contact-list-top-color-text: #747274;
$contact-list-top-icon-size: $font-size-large;

// --- Search
$search-icon-font-size: $contact-list-top-icon-size;
$search-icon-width: 36px;
$search-input-container-padding-vertical: $line-height-computed / 5;
$search-input-container-color-border: $border-color-primary;
$search-input-height: 26px;

// Bootstrap Overrides

// --- Scaffolding
$body-bg: #f0eef0;
$text-color: #343334;
$link-color: $text-color;

// --- Forms
$legend-border-color: $border-color-primary;

// FontAwesome Overrides

$fa-font-path: "../../node_modules/font-awesome/fonts";
