@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.container {
    $padding-vertical: $line-height-computed / 2;

    @include container-fixed;
    padding-bottom: $padding-vertical;
    padding-top: $padding-vertical;
    
    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }

    @media (min-width: $screen-md-min) {
        width: $container-md;
    }

    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
}
