@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/font-awesome/scss/mixins";
@import "../../node_modules/font-awesome/scss/variables";
@import "../variables";

.search {
    position: relative;

    &:before {
        @include fa-icon;
        bottom: $search-input-container-padding-vertical;
        content: $fa-var-search;
        font-size: $search-icon-font-size;
        line-height: $search-input-height;
        position: absolute;
        text-align: center;
        top: $search-input-container-padding-vertical;
        width: $search-icon-width;
    }
}

.search-input {
    background-color: transparent;
    border: none;
    display: block;
    height: $search-input-height;
    width: 100%;

    &:focus {
        outline: 0;
    }
}

.search-input-container {
    $padding-vertical: $search-input-container-padding-vertical;

    border-bottom: 1px solid $search-input-container-color-border;
    padding: $padding-vertical ($line-height-computed / 2) $padding-vertical $search-icon-width;
    position: relative;

    &:after,
    &:before {
        border-left: 1px solid $search-input-container-color-border;
        bottom: 0;
        content: " ";
        display: block;
        height: $line-height-computed / 4;
        position: absolute;
    }

    &:after {
        right: 0;
    }

    &:before {
        left: 0;
    }
}
